.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 178px;
  height: 100%;
  width: 160px;
  /* margin: 4px; */
  /* padding: 4px; */
  background-color: transparent;
  /* background-color: aqua; */
  
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  
  
}

.card-img-container {
  align-items: center;
  background-color: rgb(242, 237, 214);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 120px;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}

.card-img-container img {
  /* border-radius: 10px; */
  /* box-shadow: 2px 2px; */
  /* max-width: 110px; */
  width: 100%;
  overflow: hidden;
  /* width: 160px; */
}


.card-name-container {
  background-color: rgb(249, 247, 242);
  border-radius: 0 0 10px 10px;
  color: brown;
  display: flex;
  justify-content: center;
  
}

.card-name-container span {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  width: 130px;
  overflow: scroll;
}