.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  border: none;
  margin: 14px;
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 178px;
  height: 100%;
  width: 148px;
  
  background-color: transparent;
    
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  text-decoration: none;
}

.card-img-container {
  align-items: center;
  background-color: rgb(242, 237, 214);
  border-radius: 10px 10px 0 0;
  display: flex;
  height: 120px;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}

.card-img-container img {
  width: 100%;
  overflow: hidden;
}

.card-name-container {
  background-color: rgb(249, 247, 242);
  border-radius: 0 0 10px 10px;
  color: brown;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.card-name-container:hover span{
  text-decoration: none;
}
.card-name-container:link span{
  text-decoration: none;
}
.card-name-container:active span{
  text-decoration: none;
}

.card-name-container span {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  height: 50px;
  text-align: center;
  width: 130px;
  overflow: scroll;
  text-decoration: none;
}
