.done-recipes {
  width: 100%;
  /* z-index: 2; */
}

.done-recipes-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary);
  z-index: 2;
}

.done-recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.done-recipes-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  /* max-width: 250px; */
  height: 410px;
  margin: 10px;
  background-color: aqua;
  background-color: var(--soft-w);
  color: var(--item-dark);
  /* padding: 10px; */
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.072), 0 10px 10px rgba(0,0,0,0.072);
}

.done-recipes-card span {
  padding-left: 10px;
  max-width: 250px;
}

.done-recipes-card H3 {
  padding-left: 10px;
  max-width: 250px;
}

.done-recipes-card .card-bottom {
  /* background-color: var(--soft-w); */
  color: var(--item-dark);
  max-width: 250px;
}

.card-remove-favoriteds {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* background-color: aqua; */
}

.done-recipes-card .done-recipes-card-image img {
  border-radius: 10px 10px 0 0;
  max-width: 250px;
  width: 100%;
  overflow: hidden;
}

.done-recipes-card button {
  border: none;
  background-color: var(--soft-w);
  color: var(--item-dark);
}

.done-recipes-menu button {
  border: none;
  background-color: var(--primary);
  color: var(--item-dark);
}


.done-recipes-card .card-bottom {
padding-left: 8px;
}

.bcl-r {
  position: fixed;
  background: repeating-linear-gradient(
    45deg,
    /* #111fff, */
    /* var(--primary), */
    rgb(253, 244, 200),
    var(--soft) 2px, /* importante */
    var(--soft) 5px,
    var(--soft) 2px /* importante */
    );
    width: 100%;
    height: 100vh;
    /* height: 10000px; */
    z-index: -1;
    /* top: 78px; */
    top: 0px;
  }