.explore {
  width: 100%;
  top: 0;
}

.explore-header {
  /* top: 0; */
}

.explore-content {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary);
}

.explore-content button {
  border: none;
  background-color: var(--primary);
  /* width: 50%; */
  color: brown;
}

.explore-content-c3 button {
  border: none;
  background-color: var(--primary);
  /* width: 33.33%; */
  color: brown;
}