
.foods {
/* min-width: 360px; */
/* background-color: antiquewhite; */
background-color: var(--primary);

}

.foods .item-container {
  background-color: antiquewhite;
  background-color: white;
  /* background-color: var(--primary); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* align-items: center; */
  /* height: 100vh; */
}
