.in-progress-container {
  background-color: var(--soft);
  display: flex;
  flex-direction: column;
}
.in-progress-container .header-details {
  display: flex;
  flex-direction: column;
}

.in-progress-container .details-image-container {
  align-items: center;
  background-color: rgb(242, 237, 214);
  
  /* border-radius: 10px 10px 0 0; */
  display: flex;
  height: 120px;
  overflow: hidden;
  /* padding-bottom: 5px; */
  /* padding-top: 5px; */
  height: 300px;
  width: 100%;
}

.in-progress-container .details-img {
  object-fit: cover;
  width: 100%;
}


.in-progress-container .instructions-container {
  background-color: bisque;
  background-color: var(--soft);
  padding: 0 20px 70px 20px;
  /* padding-left: 30px; */
}