/* .footer-container {
  align-items: center;
  background-color: burlywood;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-between;
  max-width: 360px;
  width: 100%;
  position: fixed;
}

.footer-container button {
  background-color: burlywood;
  border: none;
}

.footer-container button:hover {
  background-color: burlywood;
  border: 1px;
} */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	/* margin: 0;
	padding: 0;
	box-sizing: border-box; */
	font-family: 'Poppins', sans-serif;
}
/* :root
{
	--clr:#222327;
  --primary: #ffe0b2;
  --primary-light: #ffffe4;
  --primary-dark: burlywood; 
} */
:root
{
	--clr:#222327;
  --primary: #ff9800;
  --primary: #9c27b0;
  --primary: #e91e63;
  --primary: #009688;
  --primary: #cddc39;
  --primary: #ffc107;
  --primary-light: #fff350;
  --primary-dark: c79100;
	--soft:#ffffe4;
	--soft-w:rgb(249, 247, 242);
	--item-light: #ff867c; 
	--item-dark: brown; 
	--active: red;
	--active-soft: #ff7738;
	/* --active-soft: #c51e15; */

}
/* :root
{
	--clr:#222327;
  --primary: #ffe0b2;
  --primary-light: #ffffe4;
  --primary-dark: burlywood; 
} */

.navigation 
{
	/* position: relative; */
	/* width: 400px; */
  /*  */
  position: fixed;
	width: 100%;
	min-width: 360px;
  bottom: 0;
  /*  */
	height: 70px;
	background: var(--primary);
	/* background: blue; */
	display: flex;
	justify-content: center;
	align-items: center;
  /* border-radius: 8px 8px 0 0; */
}
.navigation ul 
{
	display: flex;
  width: 100%;
	/* background-color: yellow; */
	/* width: 350px; */
}
.navigation ul li 
{
	list-style: none;
	position: relative;
	/* 350 / 5 = 70 */
	/* width: 70px; */
	height: 60px;
	/* background-color: red; */
	z-index: 2;
}
.navigation ul li
{
  /* padding-top: 4px; */
	/* transform: translateY(-2px); */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
}

.navigation ul li .item-navigator-container
{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	bottom: 0;
	
}

.navigation ul li .icon 
{
	position: relative;
	/* position: absolute; */
	display: block;
	transform: translateY(-6px);
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 34px;
	font-size: 1.5em;
	width: 58px;
	height:58px;
	border-radius: 50%;
	transition: 0.5s;
	transition-delay: 0s;
	/* background-color: #fdfdfd; */
	/* background-color: var(--soft); */
	/* background-color: #fff; */
	/* background-color: var(--primary); */
}

.navigation ul li button{
  border:  none;
	transform: translateY(-2px);
	/* background-color: var(--primary-dark); */
	background-color: var(--primary);
	/* background-color: var(--soft-w); */
	/* background-color: var(--soft); */
	/* background-color: yellow; */

	/* background-color: transparent; */
	
	border-radius: 100%;
	/* aqui */
	width: 58px;
	height: 58px; 
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.navigation ul li.active .icon 
{
	transform: translateY(-16px);
	/* background-color: #f9f9f9; */
	transition-delay: 0.25s;
	width: 62px;
	height: 62px; 
	background: var(--soft);
}

.navigation ul li.active button{
  border:  none;
	/* background-color: var(--soft);
	background-color: var(--primary);
	background-color: #cddc39;
	background-color: #9aff4d; */
	background-color: var(--active-soft);
	/* background-color: yellow; */
	border-radius: 100%;
	width: 60px;
	height: 60px;
}

.navigation ul li .item-navigator-container .text {
	/* background-color: red; */
	/* bottom: 0px;	 */
	font-size: 1em;
}

.navigation ul li .text {
	/* background-color: #222327; */
	transform: translateY(-1px);
	color: var(--item-dark);
}

.navigation ul li.active .text {
	/* background-color: #222327; */
	transform: translateY(-8px);
	color: var(--active);
}



.navigation ul li .icon::before
{
	content: '';
	position: absolute;
	/* top: 10px; */
	left: 0;
	/* width: 100%; */
	/* height: 100%; */
	transition: 0.5s;
	transition-delay: 0s;
	border-radius: 50%;
	/* background: var(--clr); */
	/* filter: blur(5px); */
	/* opacity: 0; */
}
.navigation ul li.active .icon::before
{
	transition-delay: 0.5s;
	opacity: 0.5; 
}

/* .up-level {
	width: 100%;
	height: 70px;
} */