.search-container {
  /* position: relative; */
  width: 100%;
  display: flex;
  top: 40px;
  flex-direction: column;
  /* justify-content: space-around; */
  /* background-color: aqua; */
  /* top: 50px; */
  /* position: fixed; */
  /* position: relative; */
  /* position: absolute; */
  /* position:  static; */
  z-index: 1;
}

.search-bar {
  width: 100%;
  align-items: center;
  /* position: fixed; */
  /* position: fixed; */
  top: 0;
  /* top: 40px; */
  /* background-color: burlywood; */
  /* background-color: brown; */
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 360px;
  /* background-color: blue; */
  z-index: 2;
}

.btn-icon {
  /* background-color: burlywood; */
  position: relative;
  background-color: var(--primary);
  /* background-color: var(--soft); */
  /* background-color: brown; */
  border: none;
  color: rgb(255, 0, 0);
  height: 55px;
  width: 55px;
  fill: var(--item-dark);
}

.btn-icon img {
  fill: var(--item-dark);
  max-width: 48px;
  max-height: 48px;
}

.btn-icon:hover {
  height: 55px;
  width: 55px;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* border-radius: 100%; */

}

.search-bar label {
  margin: 10px;
  padding: 3px;
}

.search-bar h3 {
  margin: 0;
  padding: 0;
  color: var(--item-dark);
}

.null-space {
  height: 48px;
  height: 48px;
  padding-right: 50px;
}